/*
=====================================================================
Stylesheet for printing
=====================================================================
*/
header {
  box-sizing: content-box;
  height: 150px !important;
  width: 100%;
  position: relative;
  background: #161415 url(../images/Fractal_Flame.jpg) no-repeat top center;
  background-size: contain;
 -webkit-background-size: contain;
 text-align: center;
 overflow: hidden;
}

header .banner-text { width: 100%; }

header .banner-text h1 {
  font: 45px/0.55em 'opensans-bold', sans-serif !important;
  color: #fff;
  letter-spacing: -2px;
  /* margin: 0 auto 10px auto; */
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

body { 
  border: none !important ;
  margin: none !important ;
  padding: none !important ;
  background: rgb(255, 255, 255) !important;
}

footer { 
  background: rgb(255, 255, 255) !important;
  display: none !important;
}

h3 {
  font-size: 18px !important;
  line-height: 15px;
  margin: 0,0,0 !important;
}

p .info {
  line-height: 14px;
  margin: 0,0,0 !important;
}

p {
  line-height: 15px;
  margin: 0,0,0 !important;
}

ul.copyright { display: none; }

div.columns .download { display: none; }

ul#nav { display: none; }

i.icon-down-circle { display: none; }

#about p { line-height: 15px; }

#about, #resume { break-after: avoid-page; }

#about .contact-details { width: 100%; }

#about p.address { line-height:15px; }

#portfolio { display: none; }

#skill { margin: 0,0,0; }
